<div class="w-screen h-screen bg-black/60 backdrop-blur-sm fixed transition-all duration-300
    opacity-0 pointer-events-none top-0 left-0 z-50 flex justify-center items-center"
    [ngClass]="{ 'opacity-100': show, 'pointer-events-auto':show }">
    <div class="flex justify-center items-center">
        <div #item class="shadow-lg shadow-black/40 mx-1 w-5 h-5 
            bg-sky-800 rounded-full"></div>
        <div #item class="shadow-lg shadow-black/40 mx-1 w-5 h-5 
            bg-sky-800 rounded-full"></div>
        <div #item class="shadow-lg shadow-black/40 mx-1 w-5 h-5 
            bg-sky-800 rounded-full"></div>
        <div #item class="shadow-lg shadow-black/40 mx-1 w-5 h-5 
            bg-sky-800 rounded-full"></div>
    </div>
</div>