<div class="flex lg:flex-row flex-col">
    <!-- Side menu -->
    <div class="lg:w-1/5 w-full bg-gray-100 rounded-l-md">
        <h3 class="lg:text-2xl md:text-base sm:text-sm text-center p-3">Provincias</h3>
        <div class="px-2 mb-4">
            <hr class="border-gray-300">
        </div>

        @for (pr of provincias; track $index) {
        <div class="relative group">
            <h6 class="lg:text-xl md:text-base sm:text-sm py-4 cursor-pointer mb-4 pl-5 relative z-10" id="provincia"
                [ngClass]="{'active': $index === 0}" (click)="selectedProvincia = pr; restart()">
                {{pr.provincia}}</h6>
            <div class="group-hover:w-full absolute top-0 px-4 w-0 z-0 transition-all duration-100" id="section">
                <h6 class=" text-xl py-4 text-transparent bg-white rounded-md shadow-xl">a</h6>
            </div>
        </div>
        }

    </div>

    <!-- Full menu -->
    <div class="lg:w-4/5 w-full bg-white rounded-r-md p-8">
        @if(selectedProvincia){

        @for (lu of selectedProvincia.lugares; track $index) {
        <div class="w-full rounded-md shadow-xl flex flex-col mb-6">
            <div class="flex w-full lg:flex-row flex-col">
                @if(isVisible) {
                <div class="lg:w-2/6 w-full py-6">
                    <swiper-container slides-per-view="1" loop="true" speed="500" pagination="true" autoplay="true"
                        delay="500">
                        @for (ad of lu.adjuntos; track $index) {
                        <swiper-slide>
                            <div class="w-full h-full flex justify-center items-center">
                                <img class="w-full max-h-64 object-contain rounded-l-md"
                                    src="/assets/turismo/{{ad.img}}" alt="">
                            </div>
                        </swiper-slide>
                        }
                    </swiper-container>
                </div>
                }
                <div class="flex-1 py-4">
                    <h1 class="text-2xl font-bold pl-4 pr-4">{{lu.lugar}}</h1>
                    <p class="pl-4 pt-4 pr-4">{{lu.descripcion}}</p>
                </div>
            </div>
            <div>
                <div class="px-6">
                    <hr>
                </div>
                <div class="py-6">
                    <h1 class="text-xl text-center">Servicios</h1>
                    @if(lu.servicios ? lu.servicios.length > 0 : false){
                    <div class="grid grid-cols-12 gap-4 pt-6 px-4">
                        @for (se of lu.servicios; track $index) {
                        <div class="lg:col-span-4 sm:col-span-6 md:col-span-4 col-span-12 flex p-4">
                            <div class="flex flex-row justify-center items-center">
                                <ng-icon class="mr-1" name="heroWifiSolid">
                                </ng-icon>
                                <p class="text-sm flex-1">{{se.servicio}}</p>
                            </div>

                        </div>
                        }
                    </div>
                    }
                    @else {
                    <p class="text-center">No hay servicios registrados</p>
                    }
                </div>
            </div>
        </div>
        }
        }

    </div>
</div>