<!-- Solve responsive -->
<section id="somos" class="relative overflow-hidden">

    <!-- Parallax effect -->
    <div class="parallax" ngx-parallax></div>

    <div class="w-full lg:h-56 h-72 bg-mag-950 flex flex-col justify-center pl-6 pt-10">
        <h1 class="text-white text-4xl font-bold">¿Quienes somos?</h1>
        <h4 class="text-white mt-4">35 años junto a los docentes argentinos</h4>
    </div>
    <div class="lg:h-3/4 flex justify-between lg:flex-row md:flex-col flex-col">
        <div class="lg:w-1/2 sm:w-full sm:flex-1 p-10">
            <p><b>Hace 35 años</b>, nacía la Mutual para el Magisterio Rionegrino, por la valentía e inspiración de
                muchos
                maestros/as pioneros/as que, en una provincia joven, buscaban unirse para formar un espacio
                solidario:
                el
                primer eslabón de una gran cadena que sirviera de contención y ayuda mutua.</p>
            <br>
            <p>Hoy, como entonces, seguimos esa senda; gracias al aporte y compromiso de todos/as nuestros/as
                asociados/as
                hemos logrado agregar muchos eslabones más a esta gran cadena solidaria.</p><br>
            <b>Breve reseña histórica</b>
            <p>En el año 1975 se sanciona la Ley 7071/75 -que crea la Mutual para el Magisterio Rionegrino- como
                consecuencia de la lucha docente librada en ese año que incluía dentro del pliego de
                reivindicaciones,
                la
                Obra Social para el Magisterio.</p><br>
            <p>La interrupción del gobierno constitucional no permitió la aplicación de esta Ley. Sin embargo los
                aportes
                fueron realizados por el Consejo Provincial de Educación, en una cuenta corriente del entonces banco
                Provincia de Río Negro.</p><br>
            <p>El 28 de julio de 1979 en la Ciudad de Viedma se realiza la Asamblea General</p>
            <p>Constitutiva con el propósito de dejar constituida una Asociación Mutual sobre la base y lineamientos
                del
                Decreto Nº 20321 de la Provincia de Río Negro.</p><br>
            <p>El 15 de mayo de 1980 se promulga la Ley 4041 derogándose la Ley 7071. En ella se determina
                legalmente la
                transferencia de los fondos a al Asociación Mutual del Magisterio Rionegrino.</p><br>
        </div>
        <div class="lg:w-1/2 sm:w-full sm:flex-1 p-10 flex flex-col justify-center items-center">
            <div class="h-1/2 w-3/4">
                <img src="assets/img/logo.png" class="w-full h-full object-contain">
            </div>
            <hr class="m-2 w-full">
            <div class="h-1/2 w-3/4">
                <img src="assets/img/casa_central.jpg" class="w-full h-full object-cover">
            </div>
        </div>
    </div>

    <div class="grid grid-cols-12 gap-4 pt-24 md:pt-20 lg:pt-16 px-4 pb-8 bg-white">
        <div class="lg:col-span-6 sm:col-span-12 md:col-span-6 col-span-12 flex justify-center">
            <div>
                <h1 class="font-bold text-2xl mb-2">CONSEJO DIRECTIVO:</h1>
                <ol class="list-decimal list-inside">
                    @for (c of consejo; track $index) {
                    <li><b>{{ c.cargo }}: </b>{{ c.nombre }}</li>
                    }
                </ol>
            </div>
        </div>
        <div class="lg:col-span-6 sm:col-span-12 md:col-span-6 col-span-12 flex justify-center">
            <div>
                <h1 class="font-bold text-2xl mb-2">JUNTA DE FISCALIZACIÓN</h1>
                <ol class="list-decimal list-inside">
                    @for (j of junta; track $index) {
                    <li><b>{{ j.cargo }}: </b>{{ j.nombre }}</li>
                    }
                </ol>
            </div>
        </div>
    </div>
</section>