<div class="w-full bg-sky-950 text-white p-10">
    <div class="grid grid-cols-12 gap-4 pt-6 px-4">
        <div class="lg:col-span-4 sm:col-span-6 md:col-span-4 col-span-12 flex justify-center items-center">
            <img src="/assets/img/logo.svg" class="w-32">
        </div>
        <div
            class="lg:col-span-4 sm:col-span-6 md:col-span-4 col-span-12 flex flex-col justify-center items-center lg:border-l lg:border-r">
            <hr class="w-full my-2 lg:hidden">
            <p class="text-xl font-light">Síguenos en nuestras redes:</p>
            <div class="flex flex-row justify-around items-center mt-4 flex-1 w-full">
                <i class="pi pi-facebook text-2xl cursor-pointer"></i>
                <i class="pi pi-instagram text-2xl cursor-pointer"></i>
            </div>
            <hr class="w-full my-2 lg:hidden">
        </div>
        <div class="lg:col-span-4 sm:col-span-6 md:col-span-4 col-span-12 flex justify-center items-center flex-col">
            <p class="text-2xl text-center my-4">Mutual para el Magisterio Rionegrino</p>
            <p class="text-center">Matrícula n° 27 de la Provincia de Rio Negro</p>
            <p class="text-center">Resolución n° 1.074 del I.N.A.M. del 17/12/1979 - Ley 20.321</p>
        </div>
    </div>
</div>