<div id="delegaciones" class="relative overflow-hidden">

    <!-- Parallax effect -->
    <div class="parallax" ngx-parallax></div>

    <div class="w-full lg:h-56 h-72 bg-mag-950 flex flex-col justify-center pl-6 pt-10">
        <h1 class="text-white text-4xl font-bold">Delegaciones</h1>
        <h4 class="text-white mt-4">Conecta con nuestras sedes regionales</h4>
    </div>

    <div class="w-full overflow-scroll p-6">
        <table class="tg mt-3 bg-white">
            <thead>
                <tr>
                    <th>CO</th>
                    <th>DELEGACIÓN</th>
                    <th>DOMICILIO</th>
                    <th>TELÉFONO</th>
                    <th>HORARIO</th>
                </tr>
            </thead>
            <tbody>
                @for(c of casas_mutuales; track c) {
                <tr>
                    <td class="tg-0lax text-center align-middle">
                        <p>
                            {{ c.co }}
                        </p>
                    </td>
                    <td class="tg-0lax">{{ c.nombre }}</td>
                    <td class="tg-0lax">{{ c.direccion }}</td>
                    <td class="tg-0lax">{{ c.tel }}</td>
                    <td class="tg-0lax">
                        @for (horario of c.casa_horarios; track $index) {
                        <p>{{ horario.horario }}</p>
                        } @empty {
                        <p>Sin horarios definidos</p>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>