<div id="principios" class="relative overflow-hidden">

    <!-- Parallax effect -->
    <div class="parallax" ngx-parallax></div>

    <div class="w-full lg:h-56 h-72 bg-sky-950 flex flex-col justify-center pl-6 pt-10">
        <h1 class="text-white text-4xl font-bold">Principios</h1>
        <h4 class="text-white mt-4">Nuestra ética corporativa</h4>
    </div>
    <div class="w-full h-3/4">
        <div class="grid grid-cols-12 gap-4 pt-6 px-4">
            <div class="lg:col-span-4 sm:col-span-6 md:col-span-4 col-span-12 flex justify-center p-4">
                <div class="w-full h-40 bg-white rounded-md shadow-xl hover:bg-sky-50 transition-all
                        duration-500 hover:pb-10 flex justify-center items-center">
                    <p class="text-xl font-semibold text-center">Adhesión Voluntaria</p>
                </div>
            </div>
            <div class="lg:col-span-4 sm:col-span-6 md:col-span-4 col-span-12 flex justify-center p-4">
                <div class="w-full h-40 bg-white rounded-md shadow-xl hover:bg-sky-50 transition-all
                    duration-500 hover:pb-10 flex justify-center items-center">
                    <p class="text-xl font-semibold text-center">Organización Democrática</p>
                </div>
            </div>
            <div class="lg:col-span-4 sm:col-span-6 md:col-span-4 col-span-12 flex justify-center p-4">
                <div class="w-full h-40 bg-white rounded-md shadow-xl hover:bg-sky-50 transition-all
                    duration-500 hover:pb-10 flex justify-center items-center">
                    <p class="text-xl font-semibold text-center">Neutralidad Institucional: Política, Religiosa, Racial
                        y Gremial
                    </p>
                </div>
            </div>
            <div class="lg:col-span-4 sm:col-span-6 md:col-span-4 col-span-12 flex justify-center p-4">
                <div class="w-full h-40 bg-white rounded-md shadow-xl hover:bg-sky-50 transition-all
                    duration-500 hover:pb-10 flex justify-center items-center">
                    <p class="text-xl font-semibold text-center">Contribución acorde con los servicios a recibir</p>
                </div>
            </div>
            <div class="lg:col-span-4 sm:col-span-6 md:col-span-4 col-span-12 flex justify-center p-4">
                <div class="w-full h-40 bg-white rounded-md shadow-xl hover:bg-sky-50 transition-all
                    duration-500 hover:pb-10 flex justify-center items-center">
                    <p class="text-xl font-semibold text-center">Capitalización social de los excedentes</p>
                </div>
            </div>
            <div class="lg:col-span-4 sm:col-span-6 md:col-span-4 col-span-12 flex justify-center p-4">
                <div class="w-full h-40 bg-white rounded-md shadow-xl hover:bg-sky-50 transition-all
                    duration-500 hover:pb-10 flex justify-center items-center">
                    <p class="text-xl font-semibold text-center">Educación y capacitación social y mutual</p>
                </div>
            </div>
            <div class="lg:col-span-4 sm:col-span-6 md:col-span-4 col-span-12 flex justify-center p-4">
                <div class="w-full h-40 bg-white rounded-md shadow-xl hover:bg-sky-50 transition-all
                    duration-500 hover:pb-10 flex justify-center items-center">
                    <p class="text-xl font-semibold text-center">Integración para el desarrollo</p>
                </div>
            </div>
        </div>
    </div>
</div>